:root {
  --primary: #375d6bb4;
  --background: #0d132b;
  --primary-text: #000000;
  --secondary: #7fa4afb4;
  --secondary-text: #ffffff;
  --accent: #827e64;
  --para-header: #2e2b14;
  --accent-text: #232428;
}
