:root {
  --primary: #232d55;
  --background: #0d132b;
  --primary-text: #e1e1e1;
  --secondary: #476393;
  --secondary-text: #ffffff;
  --accent: #827e64;
  --para-header: #2e2b14;
  --accent-text: #232428;
}
